#test-wrapper{
    width: 450px;
    height: 550px;
    max-height: 550px;
    align-content: center;
    align-self: center;
    background-image: url("../image/background.jpg");
    background-size: 100% 100%;
}
.inner-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    padding-top: 5%;
}
.test-header{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    height: 10%;
    background-color: rgba(255,255,255,0.3);
}
.test-content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 75%;
}
.start-button{
    width: 30%;
    height: 10%;
    margin-top: 70%;
    margin-left: 35%;
    margin-right: 35%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}
.test-item{
    position: absolute;
}
.question-block{
    width: 90%;
    color: rgba(255,255,255,0.60);
    align-self: center;
    align-content: center;
}
.question-content{
    font-size: large;
    color: rgba(255,255,255,0.71);
}
.answer-container{
    min-height: 30%;
    width: 100%;
    margin-top: 50%;
}
.answer{
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    width: 100%;
    height: 10%;
    margin-top: 3%;
    background-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.9);
    cursor: pointer;
}
.answer-content{
    position: absolute;
    z-index: 1;
}
.answer:hover{
    background-color: rgba(255,255,255,0.3);
}
.rate{
    float: right;
}
.rate-bar{
    top: 0%;
    left: 0%;
    opacity: 0.4;
    height: 100%;
    position: absolute;
    background-color: white;
}